<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site Metas -->
    <title>Deti Store</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/styleProduct.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.../static/js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Start Main Top -->
    <header class="main-header">
      <!-- Start Navigation -->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav"
      >
        <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-menu"
              aria-controls="navbars-rs-food"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"
              ><img
                src="../static/images/logo-deti-black.png"
                style="width: 300px"
                class="logo"
                alt=""
            /></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
            <ul
              class="nav navbar-nav ml-auto"
              data-in="fadeInDown"
              data-out="fadeOutUp"
            >
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/shop">Products</a>
              </li>

              {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                  ><i class="fa fa-user" aria-hidden="true"></i
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">My Account</a></li>
                  <li><a href="/cart">Cart</a></li>
                  <li><a href="/wishlist">Wishlist</a></li>
                  {% if current_user.isAdmin %} <li><a href="/admin">Admin Page</a></li>{% endif %}
                  <li class="nav-item">
                    <a style="color: red" href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
              <div class="attr-nav">
                <ul>
                  <li>
                    <a href="/cart">
                      <i class="fa fa-shopping-bag"></i>
                      <span class="badge">{{ number_of_items }}</span>
                    </a>
                  </li>
                </ul>
              </div>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
      <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
      <div class="container">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search" />
          <span class="input-group-addon close-search"
            ><i class="fa fa-times"></i
          ></span>
        </div>
      </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Shop</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Shop</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
      <div class="container">
        <div class="row">
          <div class="shop-content-right">
            <div class="right-product-box">
              <div class="product-item-filter row">
                <div class="col-12 col-sm-8 text-center text-sm-left">
                  <div class="toolbar-sorter-right">
                    <span>Order By: </span>
                    <form method="post" action="/shop">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <select
                        id="filter"
                        class="selectpicker"
                        data-placeholder="$ USD"
                        onchange="handleSelectChange()"
                      >
                        <optgroup label="Filters">
                          <option value="0" data-display="Select" {% if option == "nothing" %}selected{% endif %}>Nothing</option>
                          <option value="1" {% if option == "rating" %}selected{% endif %}>Rating</option>
                          <option value="2" {% if option == "priceDesc" %}selected{% endif %}>High Price → Low Price</option>
                          <option value="3" {% if option == "priceAsc" %}selected{% endif %}>Low Price → High Price</option>
                        </optgroup>
                        
                        <optgroup label="Categories">
                          <option value="4" {% if option == "clothing" %}selected{% endif %}>Clothing</option>
                          <option value="5" {% if option == "accessories" %}selected{% endif %}>Accessories</option>
                          <option value="6" {% if option == "miscellaneous" %}selected{% endif %}>Miscellaneous</option>
                        </optgroup>
                      </select>
                    </form>
                  </div>
                  <p>Showing all {{ products|length }} results for {{ default_value }}</p>
                </div>
                <div class="col-12 col-sm-4 text-center text-sm-right">
                  <ul class="nav nav-tabs ml-auto">
                    <li>
                      <a
                        class="nav-link active"
                        href="#grid-view"
                        data-toggle="tab"
                      >
                        <i class="fa fa-th"></i>
                      </a>
                    </li>
                    <li>
                      <a class="nav-link" href="#list-view" data-toggle="tab">
                        <i class="fa fa-list-ul"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <form action="{% if option %}/shop/{{option}}{% else %}/shop{% endif %}"  method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="input-group justify-content-end row" style="margin-top: 20px; margin-bottom: 20px;">
                  <div class="form-outline">
                    <!-- {% if default_value %}{{ default_value }}{% endif %}  this is inside the value below-->
                    <input type="search" name="search_value" value="" class="form-control" placeholder="Search" style=":focus::placeholder{color:black !important;}">
                  </div>
                  <input type="submit" name="search" class="btn" style="background-color: #162442 !important; color: white;" value="Search" />   
                </div>
              </form>
              
              <div class="row product-categorie-box">
                <div class="tab-content">
                  <div
                    role="tabpanel"
                    class="tab-pane fade show active"
                    id="grid-view"
                  >
                    <div class="row">
                      {% if products|length == 0 %}
                      <p>No products found</p>
                      {% else %}
                        {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                          <div class="products-single fix">
                            <div class="box-img-hover">
                              <div class="type-lb">
                                {% if product.quantity > 0 %}
                                <p class="sale">Sale</p>
                                {% endif %}
                              </div>
                              <img
                                src="{{ product.image_name }}"
                                class="img-fluid"
                                alt="Image"
                              />
                              <div class="mask-icon">
                                <ul>
                                  <li>
                                    <a href="/product/{{ product.id }}">View</a>
                                  </li>
                                  <li>
                                    <a href="/shop/add_to_wishlist/{{ product.id }}">Add to Wishlist</a>
                                  </li>
                                  <li>
                                    <a href="/shop/add_to_cart/{{ product.id }}">Add to Cart</a>
                                  </li>
                                  {% with messages = get_flashed_messages() %} {% if
                                    messages%} {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                      {{ message }}
                                    </div>
                                    {% endfor %} {% endif %} {% endwith %}
                                </ul>
                              </div>
                            </div>
                            <div class="why-text">
                              <h4>{{ product.name }}</h4>
                              <h5>{{ product.price }} €</h5>
                              <h4 style="margin-top: 10px; padding-bottom: 0px;">
                                {% for i in range(product.rating|float|int) %}
                                  <i class="fas fa-star"></i>
                                {% endfor %}
                                
                                {% if product.rating % 1 != 0 %}
                                  <i class="fas fa-star-half-alt"></i>
                                {% endif %}
                              </h4>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="list-view">
                    <div class="list-view-box">
                      {% for product in products %}
                      <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                          <div class="products-single fix">
                            <div class="box-img-hover">
                              <div class="type-lb">
                                {% if product.quantity > 0 %}
                                <p class="new">New</p>
                                {% endif %}
                              </div>
                              <img
                                src="{{ product.image_name }}"
                                class="img-fluid"
                                alt="Image"
                              />
                              <div class="mask-icon">
                                <ul>
                                  <li>
                                    <a
                                      href="/product/{{ product.id }}"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="View"
                                      ><i class="fas fa-eye"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      href="/shop/add_to_wishlist/{{ product.id }}"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Add to Wishlist"
                                      ><i class="far fa-heart"></i
                                    ></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                          <div class="why-text full-width">
                            <h4>{{ product.name }}</h4>
                            <h5>${{ product.price }}</h5>
                            <!-- You can add a product description here -->
                            <p>{{ product.description }}</p>
                            <a class="btn hvr-hover" href="#">Add to Cart</a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Shop Page -->
    <!-- Start Footer  -->
    <footer>
      <div class="footer-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-widget">
                <h4>About DETI - University of Aveiro</h4>
                <p>
                  The Department of Electronics, Telecommunications, and
                  Informatics (DETI) at the University of Aveiro is a leading
                  center for research and education in the fields of
                  electronics, telecommunications, and informatics. Our mission
                  is to advance knowledge and technology in these areas for the
                  benefit of society.
                </p>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fab fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fab fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fab fa-linkedin" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-link">
                <h4>Useful Links</h4>
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Academic Programs</a></li>
                  <li><a href="#">Research Projects</a></li>
                  <li><a href="#">Contact Information</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <div class="footer-link-contact">
                <h4>Contact DETI</h4>
                <ul>
                  <li>
                    <p>
                      <i class="fas fa-map-marker-alt"></i>Address: University
                      of Aveiro, DETI Building, Aveiro, Portugal
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-phone-square"></i>Phone:
                      <a href="tel:+351-XXX-XXX-XXX">+351-XXX-XXX-XXX</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope"></i>Email:
                      <a href="mailto:info@deti.ua.pt">info@deti.ua.pt</a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
      <p class="footer-company">
        All Rights Reserved. &copy; 2023 <a href="#">DETI</a> Design By : Group
        33
      </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none"
      >&uarr;</a
    >

    <!-- ALL JS FILES -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jquery.superslides.min.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/inewsticker.js"></script>
    <script src="../static/js/bootsnav.js."></script>
    <script src="../static/js/images-loded.min.js"></script>
    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/baguetteBox.min.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/jquery.nicescroll.min.js"></script>
    <script src="../static/js/form-validator.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
      function handleSelectChange() {
        var select = document.getElementById("filter");
        var option = select.options[select.selectedIndex].value;

        console.log(option);  

        // AJAX POST to /shop
        $.ajax({
          type: "POST",
          url: "/shop",
          data: {
            option: option,
          },
          success: function (response) {
            window.location.href = "/shop/" + response;
          },
        });
        
      }
    </script>
  </body>
</html>
