flask
Flask-Login
flask_login
marshmallow-sqlalchemy
marshmallow
Flask-SQLAlchemy
flask-marshmallow
flask_wtf
SQLAlchemy
click
werkzeug
Werkzeug
requests
pyotp
authlib
cryptography==41.0.7
flask_sslify
pip-check
safety